
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Registration Form</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/style.css" />
</head>
<body>
    <div class="container">
        <div class="row" id="registrationForm">
            <div class="col-md-8"></div>
            <div class="col-md-4">
                <div class="alert alert-danger alert-dismissible fade">
                    <strong>Error!</strong><span id="errorTextAlert"></span>
                </div>
                <h3><b>Registration</b></h3>
                <form id="formRegister">
                    <div class="form-group required">
                        <input id="phoneNumber" name="phoneNumber" class="form-control" type="tel" placeholder="Phone Number" />
                    </div>
                    <div class="form-group required">
                        <input id="firstName" name="firstName" class="form-control" type="text" placeholder="First Name" />
                    </div>
                    <div class="form-group required">
                        <input id="lastName" name="lastName" class="form-control" type="text" placeholder="Last Name" />
                    </div>
                    <div class="form-group">
                        <input id="birthDate" class="form-control" type="date" />
                    </div>
                    <div class="form-inline">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" name="gender" type="radio" value="true">
                            <label class="form-check-label" for="gender">Male</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" name="gender" type="radio" value="false">
                            <label class="form-check-label" for="gender">Female</label>
                        </div>
                    </div>
                    <div class="form-group required">
                        <input id="email" name="email" class="form-control" type="email" placeholder="Email" />
                    </div>

                    <button id="btnRegister" type="button" class="btn btn-primary mb-2 mt-2">Register</button>

                </form>
                <button id="btnLogin" type="button" class="btn btn-success" style="visibility:hidden;">Login</button>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.js"></script>
    <script type="text/javascript">

        let FormRegister;

        $(document).ready(function () {
            
            FormRegisterValidator();
        });

        //$('#email').keyup(function() {
        //    $('#emailExisting').css("visibility", "hidden");
        //});

        //$('#phoneNumber').keyup(function () {
        //    $('#phonenumberExisting').css("visibility", "hidden");
        //});

        $.validator.addMethod('IDphonenumber', function (value, element) {
            return this.optional(element) || /^((?:\+62|62)|0)[2-9]{1}[0-9]+$/.test(value);
        }, "Please enter a valid Indonesian phone number");

        $.validator.addMethod("Customemail", function(value, element) {
        return /^[+a-zA-Z0-9._-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/.test(value);
        }, "please enter valid email address");

        function FormRegisterValidator() {
            FormRegister = $('#formRegister').validate({
                rules: {
                    "email": {
                        required: {
                            depends: function () {
                                $(this).val($.trim($(this).val()));
                                return true;
                            }
                        },
                        Customemail: true
                    },
                    "firstName": {
                        required: true,
                    },
                    "lastName": {
                        required: true,
                    },
                    "phoneNumber": {
                        required: true,
                        IDphonenumber: true,
                        minlength: 11,
                        maxlength: 14
                    }
                },
                messages: {
                    "firstName": "first name is required",
                    "lastName": "last name is required"
                },
                highlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                },
                unhighlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
                },
                errorElement: 'span',
                errorClass: 'help-block',
                errorPlacement: function (error, element) {
                    if (element.is('textarea')) {
                        element.next().css('border', '1px solid red');
                    } else if (element.parent('.input-group').length) {
                        error.insertAfter(element.parent());
                    } else {
                        error.insertAfter(element);
                    }
                }
            });

            $("#formRegister").on('change input keyup paste', 'input, select, textarea', FormRegisterChecker);
        }

        function FormRegisterChecker() {
            let isValid = $("#formRegister").valid();
            return isValid;
        }

        $('#btnRegister').click(function () {
            //debugger;
            let gender;
            let IsValid = FormRegisterChecker();
            
            if (IsValid) {

                let check = {
                    email: $('#email').val(),
                    phonenumber: $('#phoneNumber').val()
                };

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Check", "User")",
                    data: JSON.stringify(check),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        if (result.email == true && result.phonenumber == true) {
                            $('#errorTextAlert').text(' Email and Phone Number is already existing.');
                            $('.alert').addClass('show');
                        } else if (result.email == true) {
                            $('#errorTextAlert').text(' Email is already existing.');
                            $('.alert').addClass('show');

                        } else if (result.phonenumber == true) {
                            $('#errorTextAlert').text(' Phone Number is already existing.');
                            $('.alert').addClass('show');
                        } else {
                            if ($("input[name='gender']").is(':checked')) {
                                gender = $("input[name='gender']:checked").val();
                            }

                            let data = {
                                FirstName: $('#firstName').val(),
                                LastName: $('#lastName').val(),
                                PhoneNumber: $('#phoneNumber').val(),
                                Email: $('#email').val(),
                                BirthDate: $('#birthDate').val(),
                                Gender: gender
                            }

                            $.ajax({
                                type: "POST",
                                url: "@Url.Action("Register", "User")",
                                data: JSON.stringify(data),
                                dataType: "json",
                                contentType: "application/json; charset=utf-8",
                                success: function (result) {
                                    if (result.data == "success") {
                                        $('#formRegister').css('pointer-events', 'none');
                                        $('#formRegister').css('opacity', '0.5');
                                        $('#btnLogin').css("visibility", "visible");
                                        $('#formRegister')[0].reset();
                                        $('.alert').removeClass('show');

                                    } else {
                                        $('.alert').addClass('show');
                                    }
                                },
                                error: function () {
                                    alert("Error");
                                }
                            });
                        }
                    }
                });
                
            }
            else {
                FormRegister().focusInvalid();
            }
        });

        $('#btnLogin').click(function () {
            $('#formRegister').css('pointer-events', 'auto');
            $('#formRegister').css('opacity', '1');
        });
    </script>

</body>
</html>
